# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Data outputs
/data/output/
.env

# Caches
.pytest_cache/
.mypy_cache/

# Logs
*.log
